<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户注册界面</title>
    <link href="http://apps.bdimg.com/libs/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://apps.bdimg.com/libs/jquery/2.0.0/jquery.min.js"></script>
    <script src="http://apps.bdimg.com/libs/bootstrap/3.3.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1 class="text-center">web主机状态检测系统用户注册页面</h1>
            <hr>
        <a href="/"><button ID="back" name="back" class="btn btn-warning pull-right">返回</button></a><br/>
        <h3 id="warning" style="color: red;text-align: center">{{ warning }}</h3>
        <form method="POST" action="/register/" target="_self" onsubmit="javascript:return check()" class="form-horizontal" role="form">
            {% csrf_token %}
         <div class="form-group">
            <label class="col-md-3" for="name" class="control-label">用户名：</label>
            <div class="col-md-9">
                <input type="text" placeholder="please input name" id="name" class="yh form-control" name="name">
            </div>
        </div>
        <div class="form-group">
            <label class="col-md-3" for="password" class="control-label">请输入密码：</label>
            <div class="col-md-9">
                <input type="password" placeholder="please input password" id="password" class="yh form-control" name="password">
             </div>
        </div>
        <div class="form-group">
            <label class="col-md-3" for="passwordagain" class="control-label">请确认密码：</label>
            <div class="col-md-9">
                <input type="password" placeholder="please input password again" id="passwordagain" class="yh form-control" name="passwordagain">
            </div>
        </div>
            <div class="form-group">
            <label class="col-md-3" for="passwordagain" class="control-label">邮箱：</label>
            <div class="col-md-9">
                <input type="email" placeholder="please input your mail" id="mail" class="form-control" name="mail">
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-3 col-md-offset-3">
                <input type="submit" id="ok" title="ok" class="btn btn-success">
            </div>
            <div class="col-md-4 col-md-offset-2">
                <input type="reset" id="reset" title="reset" class="btn btn-primary">
            </div>
        </div>
        </form>
    </div>
</div>
<script type="text/javascript" src="/static/js/register.js"></script>
</body>
</html>